<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resultado.css">
    <title>RESULTADO API</title>
</head>
<body>

    <h1>Clima Na cidade de </h1>

    <p>Cidade: <span><%= nomeCidade %></span></p></p>
    <p>Descrição do tempo: <span><%= situacao %></span></p>
    <p>Temperatura Maxima: <span><%= temperaturaMax %> Cº</span></p></p>
    <p>Temperatura minima: <span><%= temperaturaMin %> Cº</span></p></p>
    <p>Velocidade do vento: <span><%= temperaturaMin %> Km/h</span></p></p>

</body>
</html>