<%- include('partials/header.ejs') %>


<section class="noticia">
    <div class="center">
      
        
        <div class="noticia-single">
            <h2> <%= noticia.titulo %> </h2>
            <div class="autor-nome">
                <div><img style="max-width: 100%;" src="<%= noticia.imagem %>" /></div>
                <p> <%= noticia.conteudo %> </p>
            </div>
        </div>
      
        <div class="mais-lidas">
            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
              
                    <div class="mais-lida-noticia-single">
                        <div><img style="max-width: 100%;" src="/public/images/idolo.png" /></div>
                        <div class="texto-mais-lida-single">
                            <h4> Titulo </h4>
                            <p>Jogos eletrizantes na proxima rodada</p>
                            <a href="/saiba-mais">Saiba mais</a>
                        </div>
                    </div>

                    <div class="mais-lida-noticia-single">
                        <div><img style="max-width: 100%;" src="/public/images/idolo.png" /></div>
                        <div class="texto-mais-lida-single">
                            <h4> Titulo </h4>
                            <p>Jogos eletrizantes na proxima rodada</p>
                            <a href="/saiba-mais">Saiba mais</a>
                        </div>
                    </div>

                    <div class="mais-lida-noticia-single">
                        <div><img style="max-width: 100%;" src="/public/images/idolo.png" /></div>
                        <div class="texto-mais-lida-single">
                            <h4> Titulo </h4>
                            <p>Jogos eletrizantes na proxima rodada</p>
                            <a href="/saiba-mais">Saiba mais</a>
                        </div>
                    </div>
              
               
             
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer.ejs') %>

</body>
</html>